* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: blueviolet;
  overflow: hidden;
}
.outer-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;

  .bubble-1 {
    width: 24rem;
    aspect-ratio: 1/1;
    position: absolute;
    top: 20%;
    right: 60%;
    background-color: aqua;
    border-radius: 50%;
  }

  .bubble-2 {
    width: 24rem;
    aspect-ratio: 1/1;
    position: absolute;
    top: 10%;
    left: 70%;
    background-color: wheat;
    border-radius: 50%;
  }

  .bubble-3 {
    width: 50rem;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    left: 30%;
    background-color: orange;
    border-radius: 50%;
  }

  .container {
    width: 30rem;
    aspect-ratio: 1/1;
    position: relative;
    display: block;

    .back-option {
      width: 3rem;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 100%;
      left: 50%;
      translate: -50% 50%;
      z-index: 99;
      box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);

      .back-link {
        text-decoration: none;
        font-weight: bolder;
        color: red;
        font-size: 2rem;
      }

      &:hover,
      &:focus-visible {
        background-color: red;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75) inset;
        -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75) inset;
        -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75) inset;

        .back-link {
          text-decoration: none;
          font-weight: bold;
          color: white;
          font-size: 2rem;
        }
      }
    }

    .form-container {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 3fr 1fr;
      grid-template-areas:
        "fname lname"
        "email email"
        "msg msg"
        "btn btn";
      padding: 2rem;
      gap: 1rem;
      backdrop-filter: blur(50px);
      border-radius: 1rem;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);

      .fname {
        grid-area: fname;
        display: grid;
        grid-template-rows: 0.1fr auto;

        .first-name-head {
          font-weight: bolder;
          text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
          letter-spacing: 2px;
        }

        #fname {
          height: 100%;
          width: 100%;
          outline: none;
          margin-top: 0.5rem;
          padding-inline: 0.5rem;
          border-radius: 0.5rem;
          border: none;

          &:focus-visible {
            border: none;
            border-bottom: 0.2rem skyblue solid;
          }
        }
      }

      .lname {
        grid-area: lname;
        display: grid;
        grid-template-rows: 0.1fr auto;

        .last-name-head {
          font-weight: bolder;
          text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
          letter-spacing: 2px;
        }

        #lname {
          height: 100%;
          width: 100%;
          outline: none;
          margin-top: 0.5rem;
          padding-inline: 0.5rem;
          border-radius: 0.5rem;
          border: none;

          &:focus-visible {
            border: none;
            border-bottom: 0.2rem skyblue solid;
          }
        }
      }

      .email {
        grid-area: email;
        display: grid;
        grid-template-rows: 0.1fr auto;

        .email-user-head {
          font-weight: bolder;
          text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
          letter-spacing: 2px;
        }

        #emailuser {
          height: 100%;
          width: 100%;
          outline: none;
          margin-top: 0.5rem;
          padding-inline: 0.5rem;
          border-radius: 0.5rem;
          border: none;

          &:focus-visible {
            border: none;
            border-bottom: 0.2rem skyblue solid;
          }
        }
      }

      .msg {
        grid-area: msg;
        display: grid;
        grid-template-rows: 0.1fr auto;

        .message-head {
          font-weight: bolder;
          text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
          letter-spacing: 2px;
        }

        #message-area {
          height: 100%;
          width: 100%;
          outline: none;
          margin-top: 0.5rem;
          padding: 0.5rem;
          border-radius: 0.5rem;
          border: none;

          &:focus-visible {
            border: none;
            border-bottom: 0.2rem skyblue solid;
          }
        }
      }

      .submit {
        grid-area: btn;
        width: 100%;
        height: 100%;
        color: black;
        font-weight: bolder;
        font-size: 1.3rem;
        text-align: center;
        border-radius: 0.5rem;
        border: none;
        outline: none;
        background-color: greenyellow;
        transition-timing-function: ease-in-out;
        transition-delay: 10ms;
        transition-duration: 50ms;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);

        &:hover,
        &:focus-visible {
          color: whitesmoke;
          background-color: green;
          box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75) inset;
          -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75) inset;
          -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75) inset;
        }
      }
    }
  }
}
